@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');


body {
    margin: 0;
    background: #020202;
    font-family: 'Poppins', sans-serif;
    cursor:url(nyan.png),url(cursor.cur),pointer;
    padding-top: 5rem;
  }

 
  canvas{display:block}
  h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
    background-clip: h1;
    -webkit-background-clip: h1;
    color: rgba(235, 8, 148, 0.918);
    animation-duration: 2s;
    animation-delay: 1s;
  }
  audio[controls] {
    display: none;
    height: 0
  }
  .container {
    max-width: 960px;
    margin-inline: auto;
    padding-inline: 15px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: 
    space-between;
}
.nav__logo{
    color: #fff;
}
.nav__list{
    list-style: none;
    display: flex;
    column-gap: 20px;
}
.nav__link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.nav__link::after{
    content: '';
    position: absolute;
    left: 0;bottom: 0;
    width: 100%;height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.nav__link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

  .title span {
    --total: calc(var(--duration) + var(--delay));
    position: relative;
    display: block;
    color: transparent;
    overflow: hidden;
    animation: revealText 1s var(--total) forwards;
}

.title span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: #bb93fc;
    animation:
        rollIn var(--duration) var(--delay) forwards,
        rollOut var(--duration) var(--total) forwards;
}

.title span:nth-child(2)::after {
    border-top: 3px solid #896ab9;
}

@keyframes revealText {
    to {
        color: rgb(243, 10, 212);
    }
}

@keyframes rollIn {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes rollOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(105%);
    }
}
  
